/*

____\/\\\_________/\\\____/\\\\\\\\\\\\______
____\/\\\_______ /\\\____/\\\/////////\\_____
____\//\\\______/\\\____\//\\\______\///_____
_____\//\\\____/\\\______\////\\\____________
______\//\\\__/\\\__________\////\\\_________
_______\//\\\/\\\______________\////\\\______
________\//\\\\\________/\\\______\//\\\_____
_________\//\\\________\///\\\\\\\\\\\/______
__________\///__________\////////////________

*/

// Compass
@charset "utf-8";
@import "compass/css3";
@import "reset.css.scss";

// Converts pixels to EMs
@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}

// Media Query breakpoints
@mixin breakpoint($media) {
  @if $media == lap {
    @media only screen and (min-width: em(600)) { @content; }
  }
  @else if $media == desk {
    @media only screen and (min-width: em(800)) { @content; }
  }
}

/* ------------------------------------------
  RWD
--------------------------------------------- */
@-webkit-viewport {width:device-width}
@-moz-viewport {width:device-width}
@-ms-viewport {width:device-width}
@-o-viewport {width:device-width}
@viewport {width:device-width}

img, video {
  width: auto;
  max-width: 100%;
  height: auto;
}

.preload * {
  @include transition(none !important);
}

body:after {
  content: "hand";
  display: none;
}

/* ------------------------------------------
  BASE
--------------------------------------------- */
* {
  @include box-sizing("border-box");
}

body {
  font: normal 100%/1.5 sans-serif;
  @include breakpoint(lap) {
    font-size: 150%;
    &:after { content: "lap" }
  }
  @include breakpoint(desk) {
    font-size: 200%;
    &:after { content: "desk" }
  }
}
