// Compass
@charset "utf-8";
@import "compass/css3";
@import "reset.css.scss";

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels / $context}em;
}

$break-lap: em(480);
$break-desk: em(1024);

@mixin respondTo($media) {
  @if $media == hand {
    @media only screen and (max-width: $break-lap) { @content; }
  }
  @else if $media == lap {
    @media only screen and (min-width: $break-lap) { @content; }
  }
  @else if $media == desk {
    @media only screen and (min-width: $break-desk) { @content; }
  }
}

body {
  font: normal 100%/1.5 sans-serif;
  @include respondTo(hand) { background: green; }
  @include respondTo(lap) { font-size: 150%; background: blue; }
  @include respondTo(desk) { font-size: 200%; background: red; }
}